.App {
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 20px;
    list-style: none;
  }

  li {
    a.active {
      font-weight: bold;
      color: red;
    }
  }
}
